// GRADIENTES
header{
    background-image: linear-gradient(to bottom, lightgreen, transparent);
}
footer{
    background-image: linear-gradient(to top,lightgreen , transparent);
}
body{
    background-image: linear-gradient(to bottom, rgb(219, 219, 224), transparent);
}
.bg-principal {
    background-color: rgb(194, 185, 185);
}
.shop-Content {
display:flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 30px;
margin-right: 40px;
}
.car{
    box-shadow: 0 4px 8px 0 blue;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: italic;
    margin-bottom: 1rem;
}
.car > img {
    width: 90%;
    height: 250px;
    border-radius: 20px;
}
.precio {
    color:blue;
    font-size: 22px;
}
.vendid {
    color:green;
    font-size: 22px;
}
.comprado{
    color:red;
    font-size: 22px;
}
.comprar{
   
    padding: 12px;
    color: blue;
    background-color: lightgreen;
    border-radius: 20px;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 1rem;
}
.card button:hover{
    opacity: 0,7;
}
.modal-container{
    //width: 50%;
    overflow: auto;
    font-size: 25px;
    text-align: center
    
}
.modal-container > div > img {
    height: 120px;
    width: 110px;
    border-radius: 20px;
    position: absolute;
}
.modal-container > modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.total-content{
    font-size: 25px;
    background: lightgreen;
    color : black;
    border-radius : 10px;
    text-align: center;
}
.modal-header-title{
    justify-self: start;
    text-align: center;
    color: blue;
}
.delete-product{
    cursor: pointer;
    color: #ffcccb;
    
}
.modal-header-button{
    cursor: pointer;
    color: #ffcccb;
}
.ver-carrito{
    cursor: pointer;
}
.cursor{
    cursor: pointer;
}
.cantidad-carrito{
    background-color: greenyellow;
    color: black;
    border-radius: 50%;
    font-size: 15px;
    padding: 15px;
    top: 35px;
    right: 15px;
    position: absolute;
}
